/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: rgb(95, 95, 95);
    text-decoration: none;
}

/* Left menu */
#left-menu {
    width: 15%;
    height: 100vh;
    background-color: black;
    position: fixed;
    z-index: 400;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

#left-menu img {
    width: 150px;
    height: auto;
    margin: 15px 0;
}

#left-menu ul li {
    margin-bottom: 10px;
}

/* Icon */
#left-menu ul li a .fas{
    font-size: 20px;
}

#left-menu ul li a:hover {
    color: white;
    border-left: 2px solid yellow;
    padding-left: 15px;
}

/* Playlist */
#playlist {
    color: white;
    margin-top: 20px;
}
#playlist a .fa-plus{
    background-color: rgb(95, 95, 95);
    color: black;
    font-size: 20px;
    padding: 5px;
    margin: 5px 5px 10px 0
}

/* Footer left menu */

#foot-leftmenu h4 {
    color: white;
    display: inline-block;
} 

#foot-leftmenu hr{
    border: 1px solid grey;
    margin: 10px 0;
}




/* Header trasparent */
#fix-header {
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button a {
    background-color: rgb(8, 11, 18);
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px 30px;
    margin-right: 10px;
    border-radius: 25px;
}

/* Body main page */
#body-page {
    height: 100vh;
    background-color: rgb(20, 25, 34);
    padding-top: 100px;
    padding-left: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#body-page nav ul {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

/* Media player footer */
#player-container {
    height: 80px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    position: fixed;
    bottom: 0;
    z-index: 500;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left player */
#player-container .left {
    display: flex;
    align-items: center;
}

#player-container .left a .fa-heart {
    margin-left: 40px;
    margin-right: 10px;
}

.song-name h4 {
    color: white;
}

.song-name h6 {
    color: rgb(95, 95, 95);
}

#player-container .left img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Center player */

/* icon player */
#player-container .center .player a{
    color: white;
    font-size: 20px;
    margin: 0 10px;
}

.player .far {
    font-size: 30px;
}

/* right player */
#player-container .right a{
    color: white;
    font-size: 15px;
    margin: 0 10px;
}