/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Left menu */
#left-menu {
    width: 15%;
    height: 100vh;
    background-color: black;
    position: fixed;
    z-index: 400;
}

#left-menu img {
    width: 150px;
    height: auto;
    margin: 15px 10px;
}

/* Header trasparent */
#fix-header {
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button a {
    background-color: rgb(8, 11, 18);
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
}

/* Body main page */
#main-page {
    height: 100vh;
    background-color: rgb(20, 25, 34);
}

/* Media player footer */
#player-container {
    height: 100px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    position: fixed;
    bottom: 0;
    z-index: 500;
}